body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  min-height: 100%;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  min-width: 320px;
  max-width: 100%;
  min-height: 320px;
  max-height: 100%;
  position: relative;
  color: black;
  cursor: pointer;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  image-rendering: pixelated;
  object-fit: contain;
}